* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: stretch;
   min-height: 100vh;
}

img {
   width: 20px;
   vertical-align:text-bottom;
}

h3 {
   display: inline;
   padding: 0 10px;
}

p {
   display: inline;
   padding: 0 10px;
}

ul {
   list-style: none;
   padding: 10px 0;
}

/* Cabeçalho */
.header {
   background-color: mediumvioletred;
   display: flex;
   flex-direction: row;
   height: 50px;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.button {
   padding: 2px 20px;
}

/* Conteúdo */
.main {
   flex-grow: 1;
   display: grid;
   grid-template-columns: 250px 1fr;
}

.menu {
   background-color: #f2d0e0;
   width: 250px;
   padding: 0 20px;
}

.menu li {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
}

.section {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 20px;
   row-gap: 20px;
   padding: 20px;
}

.figure {
   background-color: white;
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   text-align: center;
   justify-content: stretch;
   border-radius: 1px;
   box-shadow: 2px 2px 2px darkgray;
}

.figure>img {
   width: 100%;
}

.figure>p {
   font-size: 14px;
   padding-top: 8px;
}

/* Rodapé */
.footer {
   background-color: mediumvioletred;
   display: flex;
   flex-direction: column;
   height: 50px;
   text-align: center;
   justify-content: center;
}