body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}

.green-background {
    background-color: green;
    display: flex;
    width: 25vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.yellow-background {
    background-color: yellow;
    display: flex;
    width: 75vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    display: flex;
    width: 50vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.red-background {
    background-color: red;
    display: flex;
    width: 25vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.lightgreen-background {
    background-color: lightgreen;
    display: flex;
    width: 25vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.purple-background {
    background-color: purple;
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-container {
    display: flex;
    width: 100vw;
}

#middle-container {
    display: flex;
    justify-content: space-between;
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
}