@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
/* font-family: 'IBM Plex Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */

/* Geral */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'IBM Plex Sans', sans-serif;
}

body {
   background: #E5E9F0;
}

/* Cabeçalho */

.header {
   position: fixed;
   top: 0;
   width: 100%;
   text-align: center;
   padding: 20px;
   background-color: #2E3440;
}

.menu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: inline;
}

.menu li {
   display: inline;
   margin: 0 10px;
}

.menu a {
   display: inline-block;
   font-family: 'IBM Plex Serif', serif;
   font-weight: bold;
   text-decoration: none;
   color: #E5E9F0;
   cursor: pointer;
}

.menu a::after {
   content: '';
   display: block;
   margin-top: 2px;
   width: 0;
   height: 2px;
   background:  #E5E9F0;;
   transition: width .3s;
}

.menu a:hover::after {
   width: 100%;
}

/* Conteúdo principal */

.main {
   margin: 90px;
   height: fit-content;
   color: #2E3440;
}

/* Rodapé */

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   text-align: right;
   padding: 20px;
}

.footer ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: inline;
}

.footer li {
   display: inline;
   margin: 0 5px;
}

.footer a {
   text-decoration: none;
}

.footer img {
   filter: drop-shadow(2px 2px 5px rgb(46 52 64 / 0.5));
}

.footer img:hover {
   transition: transform .2s;
   transform: scale(1.5); 
}

/* Início */

.main>div {
   width: 80%;
   height: 300px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.main-left, .main-right {
   float: left;
   width: 50%;
}

.main-left {
   text-align: right;
   padding-right: 15px;
}

.main-left img {
   width: 300px;
   border-radius: 50%;
   filter: drop-shadow(2px 2px 15px rgb(46 52 64 / 0.5));
}

.main-right {
   text-align: left;
   padding-left: 15px;
   height: 300px;
   position: relative;
}

.right-container {
   width: 350px;
   margin: 0;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.main-right h1 {
   font-family: 'IBM Plex Serif', serif;
   font-weight: bold;
}

/* Contato */

#name, #email, #message {
   border: none;
   width: 350px;
   height: 30px;
   margin-top: 5px;
   border-bottom: 2px solid #2E3440;
   background-color: #E5E9F0;
}

.button {
   padding: 8px 35px;
   text-align: center;
   font-size: initial;
   cursor: pointer;
   outline: none;
   color: #E5E9F0;
   background-color:#2E3440;
   border: none;
   border-radius: 5px;
   box-shadow: 0 6px #4C566A;
}

.button:active {
   background-color: #3e8e41;
   box-shadow: 0 3px #4C566A;
   transform: translateY(4px);
}

